@model UserInfo

@{
    ViewBag.Title = "Başvuru Detayı";
    var className = @Model.WillAttend == true ? "success" : "danger";
}

@section Style{
    <style>
        *{
            text-align: center !important;
        }
    </style>
}

<h1 class="h4">@ViewBag.Title</h1>
<p>
    <span class="badge text-bg-@className">
        @if(Model.WillAttend == true){
            <text>Katılıyor</text>
        } else {
            <text>Katılmıyor</text>
        }
    </span>
</p>
<p>İsim : @Model.Name</p>
<p>Email Adresi : @Model.Email</p>
<p>Telefon Numarası : @Model.Phone</p>
<a asp-controller="Meeting" asp-action="List" class="btn btn-outline-@className">Katılımcı Listesi</a>